#network {
    width: 100%;
    height: 600px;
    display: block;
}

#network_labels {
    width: 100%;
    height: 100px;
    display: block;
}

#read_circle_map-1 {
    width: 40%;
    /* height: 300px; */
}