<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a routerLink="home" class="navbar-brand"><strong>ARG</strong> | nanopore </a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">

                <!-- <li *ngIf="authService.credentials['isLoggedIn']"> -->
                <li>
                    <a routerLink="dashboard">Dashboard</a>
                </li>
                <li>
                    <a routerLink="documentation">Documentation</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!authService.session.get('isLoggedIn')"><a routerLink="login">LogIn</a></li>
                <li *ngIf="authService.session.get('isLoggedIn')"><a routerLink="login" (click)="logout()">Logout</a></li>
            </ul>

        </div>
    </div>
</div>


<br>
<hr>

<div class="container">
    <div class="row-fluid">
        <div class="span2"></div>
        <div class="span10">
            <div class="wrapper">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>