.jumbotron-1 {
    /*image is public available from here http://www.stockvault.net/photo/127466/bacteria*/
    background-image: url('./img/background-1.jpg') !important;
    color: white !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.jumbotron .btn {
    background: rgba(24, 98, 181, 0.5) !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    padding: 0;
    background: #f5f5f5;
}