<!-- Promo Block -->
<section class="dzsparallaxer auto-init height-is-based-on-content use-loading mode-scroll loaded dzsprx-readyall" data-options='{direction: "reverse", settings_mode_oneelement_max_offset: "150"}'>
    <div class="divimage dzsparallaxer--target w-100 g-bg-pos-bottom-center" style="height: 120%; background-image: url(assets/img/background-0.jpg);"></div>

    <div class="container g-py-200">
        <div class="row">
            <div class="col-md-6">
                <h3 class="g-color-black g-font-weight-300 g-font-size-40 g-line-height-1_2 mb-4">Antibiotic Resistance<br> analysis for nanopore reads
                </h3>
                <span class="d-block g-color-black-opacity-0_8 g-font-size-16 mb-5">NanoARG is an free web resource for the analysis of antibiotic resistance genes in metagenomes from environmental samples using the MinION nanopore sequencing technology.</span>
                <br>
                <span>Checkout this video about antimicrobial resistance</span>
                <br>
                <a class="js-fancybox u-link-v5 g-color-black" href="https://vimeo.com/167434033" title="Single Image">
                    <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                        <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
                      </span> 3:00 min
                </a>
            </div>
        </div>
    </div>
</section>
<!-- End Promo Block -->














<div class="jumbotron no-gitter">
    <br><br>
    <h1>ARG - Nanopore</h1>
    <br>
    <p>ARGpore is an online pipeline designed specifically to analyze environmental metagenomics samples from the <a>nanopore</a> MinION sequencing technology.</p>
    <br>
    <br>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div>


<!--<a href="http://www.freepik.com/free-vector/digital-technology-background_1055187.htm">Designed by Freepik</a>-->


<br><br><br>






<div class="col-md-12 text-center">
    <h1>Motivation</h1>
    <br><br>
</div>

<div class="col-md-4 text-center">
    <div class='panel panel-primary'>
        <div class="panel-heading">
            <h3>What is antibiotic resistance?</h3>
        </div>
        <div class="panel-body">
            <!--<blockquote >-->
            Antibiotic / Antimicrobial resistance is the ability of microbes to resist the effects of drugs – that is, the germs are not killed, and their growth is not stopped. Although some people are at greater risk than others, no one can completely avoid the
            risk of antibiotic-resistant infections.
            <hr>
            <small><cite title="https://www.cdc.gov/drugresistance/about.html">CDC: Centers for Disease Control and Prevention</cite></small>

            <!--</blockquote>-->
        </div>

    </div>
    <!--<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>-->
</div>


<div class="col-md-4 text-center">
    <div class='panel panel-info'>
        <div class="panel-heading">
            <h3>Biggest Threats</h3>
        </div>
        <div class="panel-body">
            <!--<blockquote >-->
            In 2013, CDC published a report outlining the top 18 drug-resistant threats to the United States. These threats were categorized based on level of concern: urgent, serious, and concerning. In general, threats assigned to the urgent and serious categories
            require more monitoring and prevention activities, whereas the threats in the concerning category require less.
            <hr>
            <small><cite title="https://www.cdc.gov/drugresistance/about.html">CDC: Centers for Disease Control and Prevention</cite></small>

            <!--</blockquote>-->
        </div>

    </div>
    <!--<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>-->
</div>


<div class="col-md-4 text-center">
    <div class='panel panel-success'>
        <div class="panel-heading">
            <h3>Nanopore MinION sequencing</h3>
        </div>
        <div class="panel-body">
            <!--<blockquote >-->

            <a href="https://nanoporetech.com/">Oxford Nanopore Technologies </a> has developed the MinION, considered a 3rd generation sequencing technology. The MinION is a portable, real time, long-read, low cost device that has been designed to bring
            easy biological analyses in real world applications such as disease/pathogen surveillance, environmental monitoring or food chain surveillance.
            <hr>
            <small><cite title="https://nanoporetech.com/">Oxford Nanopore Tech</cite></small>

            <!--</blockquote>-->
        </div>

    </div>
    <!--<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>-->
</div>



<div class="col-md-12 text-center">
    <hr>
    <br><br>
    <h1>ARGpore service</h1>
    <br><br>

</div>





<div class="col-md-3 text-center">
    <div class='box box-primary'>
        <div class="box-header">
            <h2>Environmental Metagenomics</h2>
        </div>
        <div class="box-body">
            Environmental metagenomics is the study of organisms in a microbial community based on analyzing the DNA within an environmental sample.
            <br><br> Examples include profiling microbial populations in water samples taken from deep ocean vents or in soil samples from human-made environments like active mineral mines.
            <br><br> Environmental metagenomics study data are used for agricultural microbiome analysis, ecological remediation, or other biological investigations.
            <br><br> In particular environmental metagenomics can help to understand the spread of Antibiotic Resistance Genes through different environments.
            <br><br>
        </div>

    </div>
    <!--<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>-->
</div>


<div class="col-md-9 text-center">
    <div class='panel panel-info'>
        <div class="panel-heading">
            <h2>ARGpore pipeline</h2>
        </div>
        <div class="panel-body">
            <p>One of the main challenges of analyzing nanopore environmental metagenomes is the lack of depth coverage in the samples. Unlike single-cell sequencing, environmental metagenomics can contain thousands of different organisms making almost imposible
                to assemble them. Thus, despite computational tools designed for single-cell nanopore sequencing reports very high assembly accuracy, they cannot be applied directly to environmental metagenomics samples. Therefore, we developed ARGpore:
                A specialized tool for processing low coverage naopore sequence reads from environmental samples.
            </p>
            <br>
            <img class="img-responsive" src='assets/img/pipeline.png'>

        </div>

    </div>
    <!--<iframe width="560" height="315" [src]="url" frameborder="0" allowfullscreen></iframe>-->
</div>






<div class="col-md-12 text-center">
    <hr>
    <br><br>
    <h1>Meet our additional services</h1>
    <br><br>

    <div class="col-md-3 col-md-offset-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username"><strong>MetaStorm</strong></h3>
                <h5 class="widget-user-desc"></h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/MS.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span> <a href="http://bench.cs.vt.edu/MetaStorm/"> A Web service developed for functional and taxonomy annotation of metagenomes from short read sequences </a> </span>
                            <!--<span class="description-text">Virginia Tech</span>-->
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-aqua-active">
                <h3 class="widget-user-username"><strong>deepARG</strong></h3>
                <h5 class="widget-user-desc"></h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/DL.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <span> <a href="http://bench.cs.vt.edu/deeparg"> An accurate Antibiotic Resistance Profiler for short and long sequences using Deep Learning </a></span>
                            <!--<span class="description-text">Virginia Tech</span>-->
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

</div>






<div class="col-md-12 text-center">
    <hr>
    <br><br>
    <h1>Who is behind ARGpore</h1>
    <br><br>


    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <h3 class="widget-user-username">Dr. Zhang's Lab</h3>
                <h5 class="widget-user-desc">Computer Science</h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/user_avatar.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Department of Computer Science</h5>
                            <span class="description-text">Virginia Tech</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <h3 class="widget-user-username">Dr. Pruden's Lab</h3>
                <h5 class="widget-user-desc">Environmental Engineering</h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="./assets/img/user_avatar.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Department of Civil and Environmental Engineering</h5>
                            <span class="description-text">Virginia Tech</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <h3 class="widget-user-username">Dr. Heath's Lab</h3>
                <h5 class="widget-user-desc">Computer Science</h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="./assets/img/user_avatar.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Department of Computer Science</h5>
                            <span class="description-text">Virginia Tech</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>


    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <h3 class="widget-user-username">Dr. Vikesland's Lab</h3>
                <h5 class="widget-user-desc">Environmental Engineering</h5>

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/user_avatar.png" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Department of Civil and Environmental Engineering</h5>
                            <span class="description-text">Virginia Tech</span>
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

</div>


<div class="col-md-12 text-center">
    <hr>
    <br><br>
    <h1>ARGpore is supported by</h1>
    <br><br>

    <div class="col-md-3 col-md-offset-2 text-center">
        <div class="box box-widget widget-user">
            <div class="widget-user-header bg-default">
                <h4></h4>
            </div>
            <div class="widget-user-image">
                <!-- <p>NSF Halting Environmental Antimicrobial Resistance Dissemination (HEARD) PIRE</p> -->

                <img class="img-circle" src='assets/img/demo/PIRE.png'>

            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">HEARD - PIRE</h5>
                            <!--<span class="description-text">National Science Foundation</span>-->
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>

    <div class=" col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <!--<h3 class="widget-user-username">NSF</h3>-->
                <!--<h5 class="widget-user-desc">National Science Foundation</h5>-->

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/nsf1.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">National Science Foundation</h5>
                            <!--<span class="description-text">National Science Foundation</span>-->
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>

    <div class="col-md-3">
        <!-- Widget: user widget style 1 -->
        <div class="box box-widget widget-user">
            <!-- Add the bg color to the header using any of the bg-* classes -->
            <div class="widget-user-header bg-default">
                <!--<h3 class="widget-user-username">NSF</h3>-->
                <!--<h5 class="widget-user-desc">National Science Foundation</h5>-->

            </div>
            <div class="widget-user-image">
                <img class="img-circle" src="assets/img/Virginia-Tech-Logo.jpg" alt="User Avatar">
            </div>
            <div class="box-footer">
                <div class="row">
                    <div class="col-sm-12 border-right">
                        <div class="description-block">
                            <h5 class="description-header">Virginia Polytechnic Institute and State University</h5>
                            <!--<span class="description-text">National Science Foundation</span>-->
                        </div>
                        <!-- /.description-block -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>


</div>