<!-- Promo Block -->
<section>

    <div class="g-py-200 jumbotron-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="g-color-white g-font-weight-400 g-font-size-40 g-line-height-1_2 mb-4">Antimicrobial Resistance<br> analysis for nanopore reads
                    </h3>
                    <span class="d-block g-color-white g-font-size-16 mb-5">NanoARG is an free web resource for the analysis of antibiotic resistance genes in metagenomes from environmental samples using the MinION nanopore sequencing technology.</span>

                    <!-- <a class="js-fancybox u-link-v5 g-color-black" href="https://vimeo.com/167434033" title="Single Image">
                    <span class="align-middle u-icon-v3 u-block-hover--scale g-bg-white g-color-black g-color-primary--hover g-rounded-50x g-cursor-pointer mr-2">
                        <i class="g-font-size-18 g-pos-rel g-left-2 fa fa-play"></i>
                      </span> 3:00 min
                </a> -->
                </div>
            </div>
        </div>
    </div>

</section>
<!-- End Promo Block -->

<!-- Icon Blocks -->
<section class="g-py-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <!-- <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30"> -->
                    <!-- <i class="icon-finance-086 u-line-icon-pro"></i> -->
                    <!-- </span> -->
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Antimicrobial Resistance</h3>
                    <p class="mb-0">Antibiotic / Antimicrobial resistance is the ability of microbes to resist the effects of drugs – that is, the germs are not killed, and their growth is not stopped.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <!-- <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30"> -->
                    <!-- <i class="icon-finance-196 u-line-icon-pro"></i> -->
                    <!-- </span> -->
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Nanopore Sequencing</h3>
                    <p class="mb-0">WOxford Nanopore Technologies has developed the MinION, considered a 3rd generation sequencing technology.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>

            <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
                <!-- Icon Blocks -->
                <div class="text-center">
                    <!-- <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30"> -->
                    <!-- <i class="icon-finance-147 u-line-icon-pro"></i> -->
                    <!-- </span> -->
                    <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Big data</h3>
                    <p class="mb-0">Nanopore sequencing generates millions of DNA base pairs that need to be analyzed efficiently.</p>
                </div>
                <!-- End Icon Blocks -->
            </div>
        </div>
    </div>
</section>
<!-- End Icon Blocks -->

<hr class="g-brd-gray-light-v4 my-0">

<section class="1g-bg-secondary g-py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
                <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">About nanoARG</h2>
                </header>

                <p class="g-font-size-16 g-mb-30">An online pipeline for the analysis of antimicrobial resistance. That includes to screen the nanopore reads agains Antibiotic Resistance Genes (ARGs), Metal Resistance Genes (MRGs), Mobile Genetic Elements (MGEs) that help to the spread
                    of ARGs/MGEs, and taxonomy annotation that allows to understand the context of the nanopore reads.</p>

                <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> DeepARG is used to annotate ARGs
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> A set of collected MGEs from NCBI
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> BacMet for the metal resistance profiling
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Centrifuge is used to infer the taxonomy of each nanopore read
                    </li>
                </ul>
            </div>

            <div class="col-lg-6 g-bg-img-hero g-pos-rel" style="background-image: url(assets/img/map3.png);">
                <div class="text-center w-100 g-px-40">
                    <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5"> {{ messages[0] }}
                        <span class="u-text-animation u-text-animation--typing"></span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Our Company -->

<hr class="g-brd-gray-light-v4 my-0">


<section class="1g-bg-secondary g-py-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 g-bg-img-hero g-pos-rel">
                <div class="text-center w-100 g-px-40">

                    <img height="350" width="350" src="assets/img/projects.png" type="image/svg+xml">

                </div>

            </div>

            <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
                <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase"> Our recent projects </h2>
                </header>

                <p class="g-font-size-16 g-mb-30">We have been actively developing bioinformatics solutions. Particularly for the analysis of antimicrobial resistance on Metagenomes. Here there is a list of our recent developed tools. </p>

                <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> DeepARG: A deep learning approach to predict antibiotic resistance on metagenomes.
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> ARGminer: A crowdsourcing based approach for the annotation and inspection of antibiotic resistance genes
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> MetaStorm: A public webservice for the analysis of metagenomes.
                    </li>
                </ul>
            </div>


        </div>
    </div>
</section>

<hr class="g-brd-gray-light-v4 my-0">

<section class="1g-bg-secondary g-py-100">
    <div class="container">
        <div class="row">


            <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
                <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase"> Funding </h2>
                </header>

                <!-- <p class="g-font-size-16 g-mb-30">nanoARG is currenlty funded by: </p> -->

                <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> PIRE: Halting Environmental Antimicrobial Resistance Dissemination (HEARD)
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Nacional Science Fundation (NSF)
                    </li>
                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Virginia Polytechnic Institute and State University
                    </li>

                    <li class="d-flex g-mb-10">
                        <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> The authors acknowledge Advanced Research Computing at Virginia Tech for providing computational resources and technical support that have contributed to the development
                        of this project (<a href="http://www.arc.vt.edu">more</a>)
                    </li>

                </ul>
            </div>

            <div class="col-lg-6 g-bg-img-hero g-pos-rel">
                <br><br><br>
                <div class="text-center w-100 g-px-40">

                    <img height="180" width="350" src="assets/img/funding.png">

                </div>
            </div>

        </div>
    </div>
</section>



<hr class="g-brd-gray-light-v4 my-0">

<section class="1g-bg-secondary g-py-100">
    <div class="container">
        <div class="row">


            <div class="col-lg-12 align-self-center g-mb-100 g-mb-0--lg">
                <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
                    <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase"> How to cite us </h2>
                </header>


                <h3> <strong> <a target="_blank" href="https://www.biorxiv.org/content/biorxiv/early/2018/11/29/483248.full.pdf"> NanoARG: A web service for contextualizing antimicrobial resistance genes identified from Nanopore-derived metagenomes </a> </strong> </h3>
                G. A. Arango-Argoty, D. Dai, A. Pruden, P. Vikesland, L. S. Heath, and L. Zhang ( <i> BioRxiv </i>)


            </div>
        </div>
    </div>
</section>