.network-parent {
    height: 600px;
    display: block;
}

#network {
    width: 100%;
    height: 800px;
    display: block;
}

#network_labels {
    width: 100%;
    height: 100px;
    display: block;
}

#read_circle_map-1 {
    width: 30%;
    /* height: 300px; */
}

.box-content {
    padding: 0 18px;
    max-height: 500px;
    min-height: 200px;
    /* height: 500px; */
    overflow: hidden;
    transition: max-height 0.5s ease-out;
    /* background-color: #f1f1f1; */
}

.box-transparent {
    background-color: rgba(255, 255, 255, 0.1);
}

#blast-options .field {
    display: inline-block;
}

#blast-options .field p.builder,
#blast-options .field p.label {
    margin-bottom: .2em;
}

.label {
    display: inline;
    padding: .2em .0em .3em;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}