<div class='row'>
  <br><br>
    <div class="col-md-6 col-md-offset-3 text-center">
        <div class="panel panel-default ">
            <div class="panel-heading with-border">
                <h3 class="panel-title">Nanopore Antibiotic Resitance Annotation</h3>
            </div>
            <div class="panel-body">

              <p ><strong>You are almost done!</strong> Please make sure that the information is correct to start the analysis. </p>
              
              <button (click)="run()" class="btn btn-default btn-sm" > <strong>Execute Analysis</strong></button>
            
            </div>

        </div>
    </div>
    
</div>